


body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
    background-color: gray;
    color: white;
}

.exatas, .humanas {
    background-color: white;
    color: black;
}

.mexatas, .mhumanas {
    text-align: left;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}